/* "Azeret Mono" font from google font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a,a:hover {
    text-decoration: none;
}
ul,ol,li {
    list-style: none;
}
body {
    font-family: "Azeret Mono", monospace;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Shared styles */
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.btn{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 16px 24px;
    border-radius: 8px;
    background: #0D1321;
    transition: all 0.3s ease;
}
.btn:hover {
    border: 1px solid #0D1321;
    color: #0D1321;
    background: none;
}
.btn-small {
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    border: 1px solid #0D1321;
    background: none;
    transition: all 0.3s ease;

}
.outline {
    border: 1px solid #0D1321;
    color: #0D1321;
    background: none;
}
.outline:hover, .btn-small:hover {
    color: #fff;
    background-color: #0D1321;
}
.section-head {
    width: 950px;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 48px;
}
.section-heading {
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.section-heading-description {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
}
/* Navbar section CSS start from here */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
nav .logo {
    color: #0D1321;
    font-size: 28px;
    font-weight: 800;
}
/* Navbar section CSS end here */

/* Hero area CSS start from here */
.hero-area {
    background: url(../images/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
}
.hero-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-area .hero-area-content{
    text-align: center;
    max-width: 998px;
    margin: 0 auto;
}
.hero-area .hero-area-content .hero-title {
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin-bottom: 32px;
}
.hero-area .hero-area-content .hero-description {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

/* Hero area CSS end here */

/* Whydev section start from here */
.whydev {
    background: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
    margin: 70px 0 90px;
    padding: 95px 80px;
}
.whydev-item-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.whydev-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}
.whydev-item-2 {
    display: flex;
    gap: 32px;
    align-items: center;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}
.item-content {
    width: 477px;
}
.item-content .content-heading{
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}
.item-content p {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 32px;
}
/* Whydev section end here */